<div class="login-page">
    <form class="login-form">
        <div class="form-item">
            <div class="form-item-content">
                <div class="form-input is-with-prefix">
                    <div class="form-input-prefix">
                        <i class="xcon xcon-user"></i>
                    </div>
                    <input type="text" class="form-input-input" name="username">
                </div>
            </div>
        </div>
        <div class="form-item">
            <div class="form-item-content">
                <div class="form-input is-with-prefix">
                    <div class="form-input-prefix">
                        <i class="xcon xcon-password"></i>
                    </div>
                    <input type="password" class="form-input-input" name="password">
                </div>
            </div>
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-default" style="width: 150px;">登录</button>
        </div>
    </form>
</div>
