@import (reference) "functions.less";

@import "reset.less";

/* element */
html {
    height: 100%;
    font-size: 100px;
}
body {
    min-width: 1200px;
    position: relative;
    line-height: 1;
    color: #555;
    background-color: #f5f7f9;
}
body,input,textarea,button {
    font-family: "PingFang SC","Lantinghei SC","Helvetica Neue","Helvetica","Arial","Microsoft YaHei","\\5FAE\8F6F\96C5\9ED1","STHeitiSC-Light","simsun","\\5B8B\4F53,WenQuanYi Zen Hei","WenQuanYi Micro Hei","sans-serif";
    font-size: 14px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
a,button { cursor: pointer; }
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}
.rel { position: relative; }
.abs { position: absolute; }
.fl { float: left; }
.fr { float: right; }
.i-b { display: inline-block; }
.cf { .cf(); }
