body,div,p,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,blockquote,
form,fieldset,input,textarea,button,
th,td{
    padding: 0;
    margin: 0;
}
button::-moz-focus-inner {
    padding: 0;
    margin: 0;
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border: 0;
}
// input {
//     box-sizing: border-box;
// }
// a {
//     text-decoration: none;
// }
