<div class="root">
    <header class="header">
        <div class="header-inner">
            <div class="header-controls">
                <a class="header-control">
                    <i class="xcon xcon-home"></i>
                </a>
                <a class="header-control">
                    <i class="xcon xcon-write"></i>
                </a>
                <a class="header-control">
                    <i class="xcon xcon-user"></i>
                </a>
            </div>
        </div>
    </header>

    <div class="main-body">
        <div vway="BODY"></div>
    </div>

    <!-- <div v-if="G.$layout.loading.length" class="page-loading">加载中…</div> -->
</div>
