<div class="blog-body">
    <div class="article-banner" style="background-image: url(/assets/lib/img/xx.jpg);">
    </div>

    <div class="article">
        <h1 class="article-title">文章标题</h1>

        <div class="article-meta">
            作者 于2天前发布 在比宇宙更远的地方
        </div>

        <template v-for="i in 1000">
            正文正文
        </template>
    </div>

    <footer class="footer">
        <p class="copyright">©2017-{{ $date.format(new Date(), 'yyyy') }} 侠小然 Soulran Masquevil.</p>
    </footer>
</div>
