<div class="blog-body">
    <div class="blog-header">
        <h1 class="blog-name">逆熵</h1>
        <p class="blog-abstract">每个季度就一个课题进行学习与分析，完成文章。侠小然的第一个博客</p>
    </div>
    <div class="article-list">
        <div class="article-card" v-for="i in 3">
            <a class="article-card-banner"
                :style="{
                    'background-image': 'url(/assets/lib/img/xx' + (i > 1 ? '2' : '') + '.jpg)'
                }">
                <div class="article-card-summary">
                    <h1 class="article-card-title">文章标题</h1>
                    <p class="article-card-abstract">
                        <template v-for="i in 80">
                            文章摘要
                        </template>
                    </p>
                </div>
            </a>
            <div class="article-card-info">
                作者 于1天前 发表在 比宇宙更远的地方
            </div>
        </div>
    </div>

    <footer class="footer">
        <p class="copyright">©2017-{{ $date.format(new Date(), 'yyyy') }} 侠小然 Soulran Masquevil.</p>
    </footer>
</div>
