@import "~src/less/functions.less";

// body {
//     line-height: 1;
//     background-color: #f5f7f9;
//     color: #555;
// }

.blog-body {
    .cf();
    width: 100%;
    max-width: 720px;
    margin: auto;
}

.blog-header {
    padding: 150px 0 30px;
}
.blog-name {
    font-size: 28px;
    line-height: 42px;
}
.blog-abstract {
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 14px;
}

.article-list {
    margin: 30px 0;
}
.article-card {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, .2);
}
.article-card-banner {
    display: block;
    position: relative;
    box-sizing: border-box;
    height: 200px;
    padding: 15px 20px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    background-image: url(/assets/lib/img/xx.jpg);
    cursor: pointer;
}
.article-card-summary {
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}
.article-card-title {
    line-height: 24px;
    font-size: 18px;
    font-weight: normal;
    transition: padding .3s ease;

    .article-card-summary:hover & {
        padding: 80px 0 16px;
    }
}
.article-card-abstract {
    height: 0;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    transition: all .3s ease;
    opacity: 0;

    .article-card-summary:hover & {
        height: 60px;
        opacity: 1;
    }
}
.article-card-info {
    // border: 1px solid #ddd;
    // border-top: 0;
    // border-radius: 0 0 5px 5px;
    padding: 15px 20px;
    font-size: 13px;
    color: #999;
    background-color: #fff;
}

.footer {
    margin: 30px 0;
}
.copyright {
    text-align: center;
    font-size: 12px;
    color: #aaa;
}
